<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appstudio.sample.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>
        
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".ExamplesActivity"
            android:label="@string/app_name" >

        </activity>
        <activity android:name=".c18_hardware.RotationVectorDemo">
            
            
        </activity>
        <activity android:name=".c19_map.MyMapActivity">
                        
        </activity>
        <activity android:name=".c19_map.MyLocationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>                                       

            
        </activity>
        
<activity android:name=
    ".c20_appwidget.ChatterAppWidgetConfigure">
  <intent-filter>
    <action android:name=
       "android.appwidget.action.APPWIDGET_CONFIGURE"/>
  </intent-filter>
</activity>         

<receiver android:name=
    ".c20_appwidget.ChatterAppWidgetProvider"
    android:label="수다 앱위젯">
  <meta-data android:name="android.appwidget.provider"
          android:resource="@xml/appwidget_provider" />
  <intent-filter>
    <action android:name=
         "android.appwidget.action.APPWIDGET_UPDATE" />
  </intent-filter>
</receiver>

<receiver android:name=
    ".c20_appwidget.StackWidgetProvider"
    android:label="스탭뷰 앱위젯">
  <meta-data android:name="android.appwidget.provider"
          android:resource="@xml/stack_widget_provider" />
  <intent-filter>
    <action android:name=
         "android.appwidget.action.APPWIDGET_UPDATE" />
  </intent-filter>
</receiver>

<service android:name=".c20_appwidget.StackWidgetService"
     android:permission="android.permission.BIND_REMOTEVIEWS"/>

<service
  android:label="큐브"
  android:name=".c20_livewallpaper.CubeWallpaper"
  android:permission="android.permission.BIND_WALLPAPER">
  <intent-filter>
    <action android:name=
               "android.service.wallpaper.WallpaperService" />
  </intent-filter>
  <meta-data android:name="android.service.wallpaper" 
                               android:resource="@xml/cube" />
</service>

<service
  android:label="설정액티비티를 가진 큐브"
  android:name=".c20_livewallpaper_withsetting.CubeWallpaper"
  android:permission="android.permission.BIND_WALLPAPER">
  <intent-filter>
    <action android:name=
               "android.service.wallpaper.WallpaperService" />
  </intent-filter>
  <meta-data android:name="android.service.wallpaper" 
                  android:resource="@xml/cube_with_setting" />
</service>
<activity 
  android:label="큐브설정"  
  android:name=
  ".c20_livewallpaper_withsetting.CubeWallpaperSettingActivity"
  android:exported="true">
</activity>

  <activity android:label="Beam" 
    android:name=".c21_beam.Beam">
    <intent-filter>
      <action android:name=
                         "android.nfc.action.NDEF_DISCOVERED"/>
      <category android:name=
                            "android.intent.category.DEFAULT"/>
      <data android:mimeType=
             "application/com.appstudio.sample.android.beam" />
    </intent-filter>    
      
  </activity>
  <activity android:name=".c21_wifidirect.WiFiDirectActivity" android:label="WiFiDirectActivity">


  </activity>
  <service android:name=".c21_wifidirect.FileTransferService"></service>
  <activity android:name=".c21_bluetooth.BluetoothChat" android:label="BluetoothChat">
      

  </activity>
  <activity android:name=".c21_bluetooth.DeviceListActivity" android:label="DeviceListActivity">
      
  </activity>
  <activity android:label="AppEngineActivity" android:name=".c22_appengine.AppEngineActivity">
      

      
  </activity>


</application>
    
    


    
</manifest>