<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appstudio.android.sample.ikeeper_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_GPS" />	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	
	<permission android:name="com.appstudio.android.sample.ikeeper_android.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
	<uses-permission android:name="com.appstudio.android.sample.ikeeper_android.permission.C2D_MESSAGE"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="com.google.android.c2dm.permission.SEND"/>
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" /> 
        <activity
            android:name=".Ikeeper_AndroidActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".C2dm_BroadcastReceiver">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.appstudio.android.sample.ikeeper_android" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.appstudio.android.sample.ikeeper_android" />
			</intent-filter>
		</receiver>
		<activity android:name=".map.MyMapActivity" android:screenOrientation="portrait"  />
        <activity android:name=".Intro" android:screenOrientation="portrait"  />
        <activity android:name=".auth.Auth_InputTelno" android:screenOrientation="portrait"  />
        <activity android:name=".auth.Auth_AgreeTerms" android:screenOrientation="portrait"  />
		<activity android:name=".auth.Auth_InputConfirm" android:screenOrientation="portrait"  />
		<activity android:name=".auth.Auth_FirstSetting" android:screenOrientation="portrait"  />
    </application>

</manifest>